# --- Producción ---
PROD_API_KEY=
PROD_AUTH_DOMAIN=
PROD_PROJECT_ID=
PROD_STORAGE_BUCKET=
PROD_MESSAGING_SENDER_ID=
PROD_APP_ID=

# --- QAS ---
QAS_API_KEY=
QAS_AUTH_DOMAIN=
QAS_PROJECT_ID=
QAS_STORAGE_BUCKET=
QAS_MESSAGING_SENDER_ID=
QAS_APP_ID=
